<nav class="uk-navbar-container uk-navbar-transparent nav-bar" uk-navbar>
  <LinkTo @route="cases" class="uk-navbar-item uk-logo uk-text-primary">
    {{#if @logo}}
      <img class="nav-bar-logo" src={{@logo}} alt={{@text}} />
    {{else}}
      {{@text}}
    {{/if}}
  </LinkTo>

  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav uk-text-uppercase">
      <li>
        <LinkTo @route="cases">
          {{t "nav.documents"}}
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="form-builder">
          {{t "nav.form-builder"}}
        </LinkTo>
      </li>
    </ul>
  </div>
</nav>
