<h1 class="uk-flex uk-flex-between">
  {{t "workItems.title"}}
</h1>

<hr />

<Filters {{did-insert (perform this.fetchWorkItems)}} as |Filter|>
  <Filter.RadioButtons
    @name="status"
    @label={{t "workItems.filters.status"}}
    @selected={{this.status}}
    @options={{
    array
    (hash value="open" label=(t "workItems.filters.open"))
    (hash value="closed" label=(t "workItems.filters.closed"))
  }}
    @onChange={{fn this.updateFilter "status"}}
  />
  <Filter.RadioButtons
    @name="order"
    @label={{t "workItems.filters.order"}}
    @selected={{this.order}}
    @options={{
    array
    (hash value="urgent" label=(t "workItems.filters.urgent"))
    (hash value="new" label=(t "workItems.filters.new"))
  }}
    @onChange={{fn this.updateFilter "order"}}
  />
</Filters>

<WorkItemList
  @query={{this.workItemsQuery}}
  @config={{this.tableConfig}}
/>
