{{#if @model.isLoading}}
  <div class="uk-text-center uk-padding">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <h2 class="uk-flex uk-flex-middle">
    <LinkTo
      @route="cases.index"
      class="uk-icon-button uk-margin-right"
      uk-icon="icon: arrow-left; ratio: 2"
    />
    {{this.case.document.form.name}}
  </h2>

  <UkTab as |tab|>
    <tab.item @href="/{{this.case.id}}" @linkToIndex={{true}}>
      {{t "cases.subnav.overview"}}
    </tab.item>
    <tab.item @href="/{{this.case.id}}/work-items">
      {{t "cases.subnav.workItems"}}
    </tab.item>
    <tab.item @href="/{{this.case.id}}/edit">
      {{t "cases.subnav.document"}}
    </tab.item>
  </UkTab>

  {{outlet}}
{{/if}}
