<h3>{{this.workItem.name}}</h3>

{{#if @model.isLoading}}
  <div class="uk-text-center uk-padding">
    <UkSpinner @ratio={{2}} />
  </div>
{{else}}
  <CfContent @documentId={{this.workItem.document.id}}
    @context={{hash
      actionButtonOnSuccess=this.actionButtonOnSuccess
    }}
    @disabled={{not this.workItem.isReady}}
  />
{{/if}}